#connectToFacebook {
	margin-top:80px;
	height:60px;
	width:300px;
	font-family:helvetica;
	font-size:16pt;
	color:white;
	border:3px solid white;
	background:transparent;
	text-decoration:bold;

	border-radius:5px;
}

#connectToFacebook:hover {
	//transition: color 2s, background 2s
	//-webkit-transition: color 2s, background 2s;
	background:white;
	color:rgb(139,163,100);
}

#tableData {
	width:600px;
	font-family:helvetica;
	font-size:16pt;
	color:white;
	border:3px solid white;
	background:transparent;
	border-radius:5px;
	//overflow:hidden;

	margin:0 auto;
}

#tableData tr {
	border-top:3px solid white;
}
#tableData tr:first-child {
	border-top:0px solid white;
}

tr td:first-child {
	border-right:3px solid white;
}